/* parametre principaux*/
#main_frame
{
	width : 90%;
	margin : auto;
	background-color : white;
}

p
{
	color : black;
	font-size : 1.1em;
	text-align : justify;
	
}

/* header */

header
{
	width : 100%;
	display : flex;
	flex-direction : row;
	justify-content : space-between;
	border : 1px solid black;
}

#presentation
{
	display : flex;
	flex-direction : column;
	text-align : center ;
	align-item : center;
	content-align : center;
	margin : auto;
	
	
}

#photo img
{
	width : 150px;
}

/* Corps */

li 
{
	color : rgb(40,40,40);
}
